<div class="home">
    <div class="main-home">
        <div class="new-post">
            <div class="profile-img"><p>img</p></div>
            <div>
                <form action="/home/editPost/<%= post._id %>" method="POST" enctype="multipart/form-data">
                    <textarea name="editPost" class="text" cols="80" rows="10"><%= post.postText %></textarea>
                    <input type="file" name="postImage"> 
                    <div class="btn-box">
                        <button type="submit" class="post-btn">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('./layouts/partials/sidebarSearch') %>
</div>


