<div class="home">
    <div class="main-home">
        <div class="new-post">
            <div>
                <form action="/home/newPost" method="POST" enctype="multipart/form-data">
                    <textarea name="newPost" class="text" cols="80" rows="10" placeholder="What is happening"></textarea>
                    <input type="file" name="postImage" class="file-upload"> 
                    <div class="btn-box">
                        <button type="submit" class="post-btn">Post</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="post-box"></div>
        <button id="loadPostsBtn">More posts</button>
    </div>
    <%- include('./layouts/partials/sidebarSearch') %>
</div>

<script src="/javascript/loadPostsScript.js" defer></script>
