<%- include('./layouts/partials/genericErrorMessage.ejs') %>
<div class="main">
    <form action="/" method="POST" class="login-input">
        <input type="text" name="username" required placeholder="Username" class="text-imput input-margin"  value="<%= locals.username %>" >
        <input type="password" name="password" required  class="text-imput input-margin" placeholder="password">
        <button type="submit">Log In</button>
    </form>
    
    <form action="/newUser" method="get">
        <button type="submit">Create new account</button>
    </form>
</div>
