<form action="/" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Log In</button>
</form>

<form action="/newUser" method="get">
    <button type="submit">Create new account</button>
</form>

<form action="/noLogin" method="get">
    <button type="submit">Continue without loging in</button>
</form>