<form action="/" method="POST">
    <input type="email" placeholder="123@email.com">
    <input type="text" placeholder="Username">
    <button type="submit">Log In</button>
    <button type="button">Create Account</button>
</form>

<form action="/newUser" method="get">
    <button type="submit">Create new account</button>
</form>

<form action="/noLogin" method="get">
    <button type="submit">Continue without loging in</button>
</form>