<form action="/newUser" method="POST">
    <div>
        <div class="login-field">
            <label>E-mail: </label>
            <input type="email" name="email" required placeholder="alf123@email.com">
        </div>
        <div class="login-field">
            <label>Username: </label>
            <input type="text" name="username" required placeholder="Username">         
        </div>
        <div class="login-field">
            <label>Password: </label>
            <input type="password" name="password" required placeholder="Password">
        </div>
        <button type="submit">Submit</button>
    </div>
</form>