<div>
    <form action="/settings" method="post">
        <div>
            <h3>Font size</h3>
            <div>
                <input type="radio" id="fontSize.5" name="fontSize" value="0.5rem" />
                <label for="fontSize.5">0.5</label>
            </div>
            <div>
                <input type="radio" id="fontSize.75" name="fontSize" value="0.75rem" />
                <label for="fontSize.75">0.75</label>
            </div>
            <div>
                <input type="radio" id="fontSize1" name="fontSize" value="1rem" />
                <label for="fontSize1">1</label>
            </div>
            <div>
                <input type="radio" id="fontSize1.25" name="fontSize" value="1.25rem" />
                <label for="fontSize1.25">1.25</label>
            </div>
            <div>
                <input type="radio" id="fontSize1.5" name="fontSize" value="1.5rem" />
                <label for="fontSize1.5">1.5</label>
            </div>
            <div>
                <input type="radio" id="fontSize1.75" name="fontSize" value="1.75rem" />
                <label for="fontSize1.75">1.75</label>
            </div>
            <div>
                <input type="radio" id="fontSize2" name="fontSize" value="2rem" />
                <label for="fontSize2">2</label>
            </div>
        </div>
        <div>
            <h3>Main color</h3>
            <div>
                <input type="radio" id="mainColorBlue" name="color" value="blue">
                <label for="mainColorBlue">Blue</label>
            </div>
            <div>
                <input type="radio" id="mainColorRed" name="color" value="red">
                <label for="mainColorRed">Red</label>
            </div>
            <div>
                <input type="radio" id="mainColorPink" name="color" value="pink">
                <label for="mainColorPink">Pink</label>
            </div>
            <div>
                <input type="radio" id="mainColorViolet" name="color" value="violet">
                <label for="mainColorViolet">Violet</label>
            </div>
            <div>
                <input type="radio" id="mainColorOrange" name="color" value="orange">
                <label for="mainColorOrange">Orange</label>
            </div>
            <div>
                <input type="radio" id="mainColorGreen" name="color" value="green">
                <label for="mainColorGreen">Green</label>
            </div>
            <div>
                <input type="radio" id="mainColorLightblue" name="color" value="lightblue">
                <label for="mainColorLightblue">Light Blue</label>
            </div>
        </div>
        <div>
            <h3>Background color</h3>
            <div>
                <input type="radio" id="backgroundDefault" name="background" value="default">
                <label for="backgroundDefault">Default</label>
            </div>
            <div>
                <input type="radio" id="backgroundDim" name="background" value="dim">
                <label for="backgroundDim">Dim</label>
            </div>
            <div>
                <input type="radio" id="backgroundLightsOut" name="background" value="lightsOut">
                <label for="backgroundLightsOut">Lights Out</label>
            </div>
        </div>
        <button type="submit">Save changes</button>
    </form>
</div>
<script src="javascript/settingsScript.js" defer></script>
